body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

.container {
  max-width: 100%;
  background: #080808;
}

/* Styling untuk navbar */
#navbar {
  background-color: #1b1b1b;
  margin: 0 30px 30px 30px;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 0px 1px white;
}

.icon-nav li {
  width: 150px;
  margin: 0 0 0px 15px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  color: #9c9c9c;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  transition: color 0.3s;
  letter-spacing: 0.00875rem;
}

.link {
  text-decoration: none;
  color: #9c9c9c;
  font-family: "IBM Plex Mono";
}

#navbar ul li:hover {
  color: white;
}

.link:hover {
  color: white;
}

/* Styling untuk ikon */
.icon {
  display: flex;
  align-items: center;
}

.icon ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.icon li a {
  margin-right: 20px;
  color: #9c9c9c;
  cursor: pointer;
  transition: color 0.3s; /* Transisi warna saat mengarahkan kursor */
}

.icon li:hover {
  color: white;
}

#home {
  max-width: 100%;
  border: 1px solid black;
  padding: 0 3.5rem;
  margin-top: 4.7rem;
  height: 37rem;
}

.home-content {
  display: flex;
  justify-content: space-between;
}

.home-content h1 {
  color: #fff;
  font-family: Raleway;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.home-content h4 {
  color: #fff;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  color: #9c9c9c;
  font-family: IBM Plex Mono;
  margin-bottom: 30px;
  line-height: 1.5;
  width: 35rem;
}

.home-content a {
  display: inline-block;
  padding: 10px 20px;
  background: #3f8e00;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-content a:hover {
  background-color: #0056b3;
}

.image-profile {
  width: 300px;
  height: 100%;
  border-radius: 50%;
  margin: 0 50px;
}

.profile-image {
  border: 1px solid white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  animation: profile__animate 8s ease-in-out infinite 1s;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 /30%);
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.worked-with {
  display: flex;
  justify-content: space-between;
  flex: wrap;
}

h5 {
  margin-top: 3rem;
  color: #ffffff;
  font-family: Raleway;
}

.worked-item {
  background-color: #1b1b1b;
  color: white;
  font-size: 16px;
  padding: 30px 70px;
  box-shadow: 0 0px 1px white;
  border-radius: 7px;
  border: 1px solid #1b1b1b;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: ;
}

/* about */
#about {
  padding: 3.7rem;
  background-color: ##fff;
  max-width: 100%;
  height: 80%;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #1b1b1b;
  font-family: "Raleway";
}

.title-about {
  color: #ffa217;
  font-family: "Raleway";
  font-size: 1rem;
}

.title-description {
  width: 70%;
  text-align: center;
  color: #9c9c9c;
  font-family: "IBM Plex Mono";
}

.about-content {
  margin-top: 50px;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.about-description {
  width: 50%;
  text-align: justify;
  line-height: 1.5rem;
  font-family: "IBM Plex Mono";
}

.image-container {
  width: 50%;
}

.cv {
  display: inline-block;
  padding: 10px 20px;
  background: orange;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cv:hover {
  background-color: #0056b3;
}

#skills {
  padding: 3.7rem;
  background-color: #080808;
  max-width: 100%;
}

.title-skills {
  color: white;
  font-family: "Raleway";
}

.title-description-skills {
  color: #9c9c9c;
  width: 70%;
  text-align: center;
  font-family: "IBM Plex Mono";
}

.content-skills {
  margin-top: 7rem;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 20rem;
  height: 23rem;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.list-skills {
  margin-top: 90px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0;
  /* border: 1px solid white; */
}

.item-skills {
  color: #9c9c9c;
  margin: 0 2rem 1rem 2rem;
  margin-top: 10px;
  color: white;
  font-family: "IBM Plex Mono";
}

.subtitle-skills {
  margin-bottom: 3rem;
  color: white;
  text-align: center;
  font-family: "Raleway";
}

.icon-skills {
  /* z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  background: white;
  border-radius: 50%;
  /* border: 1px solid white; */

  position: absolute;
  /* bottom:20px */
  transform: translateX(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

.card-skills:hover {
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
}

#portofolio {
  padding: 3.7rem;
  background-color: ##fff;
  max-width: 100%;
  height: 80%;
  /* display: flex; */
}

.content-portofolio {
  /* border: 1px solid black; */
  margin-top: 4rem;
  display: flex;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
}

.card-portoflio {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.image-portofolio {
  /* opacity: 0.5; */
}

.card-content {
  padding: 20px 20px;
  text-align: center;
}

.card-content a {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-family: "Raleway";
}

.tools {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tools span {
  background-color: grey;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-family: "IBM Plex Mono";
}

.div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.view-all-portofolio {
  display: inline-block;
  margin-top: 2rem;
  padding: 10px 20px;
  background: #3f8e00;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#kontak {
  padding: 3.7rem;
  background-color: #080808;
  max-width: 100%;
  height: 100%;
  color: white;
}

form {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.form-control {
  margin-top: 5px;
  width: 30rem;
  border: 0.1px solid black;
  border-radius: 5px;
  height: 40px;
}

.form-message {
  margin-top: 5px;
  width: 30rem;
  border: 0.1px solid black;
  border-radius: 5px;
  height: 150px;
  resize: none;
}

.button {
  margin-top: 10px;
  display: flex;
  padding: 10px 20px;
  border: 1px;
  border-radius: 5px;
  width: 30.3rem;
  justify-content: center;
  background: #3f8e00;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#footer {
  text-align: center;
  padding: 1rem;
  background-color: #1b1b1b;
  max-width: 100%;
  height: 100%;
  color: white;
}

label {
  color: white;
  font-size: 0.9rem;
  font-family: "IBM Plex Mono";
}
/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  #home {
    height: 70rem;
  }
  .home-content {
    flex-direction: column;
    align-items: center;
  }

  .image-profile {
    margin: 0;
  }

  .home-content p {
    width: 100%;
  }

  .worked-with {
    display: grid; /* Use grid instead of flex */
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows with automatic height */
    gap: 20px; /* Add some spacing between items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }

  .worked-item {
    /* You can adjust the styling of the .worked-item as needed */
    background-color: #1b1b1b;
    color: white;
    font-size: 16px;
    padding: 30px 70px;
    box-shadow: 0 0px 1px white;
    border-radius: 7px;
    border: 1px solid #1b1b1b;
    transition: background-color 0.3s;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-description {
    text-align: center;
    width: 100%;
  }

  .image-about {
    margin-top: 60px;
    width: 100%;
    display: flex;
    /* border-radius: 50%; */
    align-items: center;
    justify-content: center;
  }

  #skills {
    height: 112rem;
  }
  .content-skills {
    margin-top: 38rem;
    flex-direction: column;
    align-items: center;
  }

  .card-skills {
    margin: 50px 0;
    padding: 0 0 50px;
  }

  .list-skills {
    /* margin-top: 0; */
  }

  .subtitle-skills {
    margin-bottom: 2rem;
  }

  .content-portofolio {
    flex-direction: column;
    align-items: center;
  }

  .card-portoflio {
    margin-bottom: 20px;
  }

  .div {
    margin-top: 0;
  }

  .form-control {
    /* width: 100%; */
  }

  .form-message {
    /* width: 100%; */
  }

  .button {
    /* width: 100%; */
  }
}

#react-covid {
  padding: 0 3.7rem;
  height: 250px;
}

.title-header {
  margin-top: 80px;
  color: white;
}

.font-header {
  line-height: 10px;
  font-size: 3rem;
   color: #fff;
  font-family: Raleway;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.font-sub-header {
  font-size: 18px;
  color: #9c9c9c;
  font-family: IBM Plex Mono;
  margin-bottom: 30px;
  line-height: 1.5;
  width: 70%;
}

#detail {
  padding: 3.7rem;
  /* height: 170px; */
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-portfolio {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.all-content {
  padding: 1rem 7.3rem;
}

.description {
  font-size: 1.4rem;
}

.button-live {
  display: inline-block;
  padding: 10px 20px;
  background: #3f8e00;
  box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.view-content {
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.carousel-container {
  margin-top: 50px;
  height: 40rem;
  position: relative;
}

.carousel-slide {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-carousel {
  /* margin-top: 20px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  width: 100%;
  /* height: auto; */
  border-radius: 8px;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ #slide1,
#slide2:checked ~ #slide2,
#slide3:checked ~ #slide3 {
  opacity: 1;
}


.carousel-nav {
  position: absolute;
  bottom: 10px;
  top: 37.5rem;
  width: 100%; /* Menambahkan lebar 100% */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;--= 
}

.dotNav {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.dotNav:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: grey;

  border-radius: 50%;
  transition: background-color 0.3s;
}

#slide1:checked ~ .carousel-nav label:nth-child(1):before,
#slide2:checked ~ .carousel-nav label:nth-child(2):before,
#slide3:checked ~ .carousel-nav label:nth-child(3):before {
  background-color: #333;
}


.logo-tech{
  width: 100%;
  margin-top:3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.logo-tech img {
    margin: 0; /* Mengatur margin menjadi 0 */
    width: 120px; /* Sesuaikan lebar gambar sesuai kebutuhan Anda */
    height: auto; /* Membuat tinggi gambar otomatis sesuai aspek rasio */
}